<div *ngIf="animal" class="container mb-4">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 mt-4 mb-4">
      <p class="text-muted fw-bold">
        <a class="link-secondary" (click)="goToEnclosure()">Enclos</a> >
        <a class="link-secondary" (click)="goToSpecies(animal)">Espèce</a>
        > Animal
      </p>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <h5 class="card-title">{{ animal.nom }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                {{ animal.espece | uppercase }}
              </h6>
              <p class="{{ animal.sexe | genderColor }}">
                {{ animal.sexe | genderString }}
              </p>
              <p>Naissance : {{ animal.naissance }}</p>
              <p>Décès : {{ animal.deces }}</p>
              <p>Observations : {{ animal.observations }}</p>
              <p>Position : {{ animal.position }}</p>
            </div>
            <div class="col-6 text-center">
              <img
                src="../assets/images/{{ animal.espece }}.jpg"
                alt="{{ animal.nom }}"
                class="rounded img-fluid"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <hr />
              <p class="fw-bold">Tâches effectuées :</p>
              <button
                type="button"
                class="btn btn-primary"
                (click)="careAnimal()"
                *ngIf="role == 'VETERINAIRE' || role == 'ADMIN'"
              >
                Soin
              </button>
              <button
                type="button"
                class="btn btn-primary ms-2"
                (click)="moveAnimal(animal._id, animal.position)"
              >
                Déplacement
              </button>
              <div
                class="alert alert-success mt-4 d-none"
                role="alert"
                id="success-care"
              >
                Animal soigné ! 👍
              </div>
              <div
                class="alert alert-success mt-4 d-none"
                role="alert"
                id="success-move"
              >
                Animal déplacé ! 👍
              </div>
              <div
                class="alert alert-danger mt-4 d-none"
                role="alert"
                id="fail-alert"
              >
                Un problème est survenu. Êtes-vous bien connecté ?
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <hr />
              <p class="fw-bold mt-4">Suivi de l'animal :</p>
              <p>
                <em
                  *ngIf="
                    (events$ | async)?.length === 0 ||
                    (events$ | async) === null
                  "
                  class="text-muted"
                >
                  Aucun événement à afficher</em
                >
              </p>
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item"
                  *ngFor="let event of events$ | async"
                >
                  <em class="text-muted"
                    >{{ event.date | date : "dd/MM/yyyy - HH:mm" }} :</em
                  >
                  {{ event.type }}
                  <small class="text-muted">({{ event.creation }})</small>
                </li>
              </ul>
            </div>
            <div class="col-6 bg-light border rounded">
              <hr />
              <p class="fw-bold mt-4">Actions à faire :</p>
              <p>
                <em
                  *ngIf="
                    (actions$ | async)?.length === 0 ||
                    (actions$ | async) === null
                  "
                  class="text-muted"
                >
                  Aucune action à traiter</em
                >
              </p>
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item bg-light text-danger"
                  *ngFor="let action of actions$ | async"
                >
                  <em class="text-muted"
                    >{{ action.date | date : "dd/MM/yyyy" }} :</em
                  >
                  {{ action.observations }}
                  <small class="text-muted">({{ action.creation }})</small>
                  <button
                    type="button"
                    class="btn btn-secondary btn-sm ms-2"
                    (click)="deleteAction(action)"
                  >
                    OK
                  </button>
                </li>
              </ul>
              <div
                class="alert alert-success mt-4 d-none"
                role="alert"
                id="success-action-delete"
              >
                Action OK ! 👍
              </div>
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-primary me-2 mb-2"
                data-bs-toggle="modal"
                data-bs-target="#actionModal"
              >
                Créer une action
              </button>
              <div
                class="alert alert-success mt-4 d-none"
                role="alert"
                id="success-action"
              >
                Action créée ! 👍
              </div>
              <div
                class="alert alert-danger mt-4 d-none"
                role="alert"
                id="fail-action"
              >
                Un problème est survenu. Êtes-vous bien connecté ?
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        type="button"
        class="btn btn-outline-primary mt-4"
        (click)="goToSpecies(animal)"
      >
        < Retour à l'espèce
      </button>
    </div>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="actionModal"
    tabindex="-1"
    aria-labelledby="actionModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="actionModalLabel">
            Création d'une action
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Action à effectuer sur {{ animal.nom }} :</p>
          <div class="mb-3">
            <input
              class="form-control"
              list="datalistOptions"
              id="actionInput"
              placeholder="Ex. : vérifier pattes"
            />
            <datalist id="datalistOptions">
              <option value="Soigner"></option>
              <option value="Nourrir"></option>
              <option value="Déplacer"></option>
            </datalist>

            <p>le :</p>
            <input id="actionDate" class="form-control" type="date" />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Annuler
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            (click)="createAction(animal)"
          >
            Créer
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
