<div class="container">
  <div *ngIf="enclosure" class="row justify-content-center">
    <div class="col-12 col-sm-10 col-lg-10 mt-4">
      <p class="text-muted fw-bold">Enclos</p>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ enclosure.nomApp }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            ZONE {{ enclosure.zone | uppercase }}
          </h6>
          <p class="fw-bold">Les animaux présents dans cet enclos :</p>
          <div class="table-responsive">
            <table class="table" aria-describedby="Tableau des animaux">
              <thead>
                <tr class="table-light">
                  <th scope="col">Nom</th>
                  <th scope="col">Espèce</th>
                  <th scope="col">Sexe</th>
                  <th scope="col">Position</th>
                  <th scope="col">Observations</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let animal of animals$ | async">
                  <td class="fw-bold">{{ animal.nom }}</td>
                  <td class="text-muted fw-light">
                    {{ animal.espece | uppercase }}
                  </td>
                  <td>
                    <span class="{{ animal.sexe | genderColor }}">{{
                      animal.sexe | genderString
                    }}</span>
                  </td>
                  <td>{{ animal.position }}</td>
                  <td>{{ animal.observations }}</td>
                  <td>
                    <a
                      class="btn btn-outline-primary btn-sm"
                      (click)="goToDetailsAnimal(animal)"
                      role="button"
                      >Détails</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-12">
              <hr />
              <p class="fw-bold">Tâches effectuées :</p>
              <button
                type="button"
                class="btn btn-primary"
                (click)="verifyEnclosure(+enclosure._id)"
                *ngIf="
                  role == 'VETERINAIRE' ||
                  role == 'RESPONSABLE-ZONE' ||
                  role == 'ADMIN'
                "
              >
                Vérification
              </button>
              <div
                class="alert alert-success mt-4 d-none"
                role="alert"
                id="success-verify"
              >
                Enclos vérifié ! 👍
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <hr />
              <p class="fw-bold mt-4">
                Les derniers événements de cet enclos :
              </p>
              <p>
                <em
                  *ngIf="
                    (events$ | async)?.length === 0 ||
                    (events$ | async) === null
                  "
                  class="text-muted"
                >
                  Aucun événement à afficher</em
                >
              </p>
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item"
                  *ngFor="let event of events$ | async"
                >
                  <em class="text-muted"
                    >{{ event.date | date : "dd/MM/yyyy - HH:mm" }} :</em
                  >
                  {{ event.type }} - {{ event.animal }}
                  <small class="text-muted">({{ event.creation }})</small>
                </li>
              </ul>
            </div>
            <div class="col-6 bg-light border rounded">
              <hr />
              <p class="fw-bold mt-4">Actions à faire :</p>
              <p>
                <em
                  *ngIf="
                    (actions$ | async)?.length === 0 ||
                    (actions$ | async) === null
                  "
                  class="text-muted"
                >
                  Aucune action à traiter</em
                >
              </p>
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item bg-light text-danger"
                  *ngFor="let action of actions$ | async"
                >
                  <em class="text-muted"
                    >{{ action.date | date : "dd/MM/yyyy" }} :</em
                  >
                  {{ action.observations }} - {{ action.animal.nom }}
                  <small class="text-muted">({{ action.creation }}) </small>
                  <button
                    *ngIf="action.enclos.nom == action.animal.nom"
                    type="button"
                    class="btn btn-secondary btn-sm ms-2"
                    (click)="deleteAction(action)"
                  >
                    OK
                  </button>
                </li>
              </ul>
              <div
                class="alert alert-success mt-4 d-none"
                role="alert"
                id="success-action-delete"
              >
                Action OK ! 👍
              </div>
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-primary me-2 mb-2"
                data-bs-toggle="modal"
                data-bs-target="#actionModal"
              >
                Créer une action sur l'enclos
              </button>
              <div
                class="alert alert-success mt-4 d-none"
                role="alert"
                id="success-action"
              >
                Action créée ! 👍
              </div>
              <div
                class="alert alert-danger mt-4 d-none"
                role="alert"
                id="fail-action"
              >
                Un problème est survenu. Êtes-vous bien connecté ?
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="actionModal"
    tabindex="-1"
    aria-labelledby="actionModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="actionModalLabel">
            Création d'une action
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <input
              class="form-control"
              list="datalistOptions"
              id="actionInput"
              placeholder="Ex. : vérifier pattes"
            />
            <datalist id="datalistOptions">
              <option value="Vérifier"></option>
            </datalist>

            <p>le :</p>
            <input id="actionDate" class="form-control" type="date" />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Annuler
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            (click)="createAction()"
          >
            Créer
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
