<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Actions à effectuer sur la zone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-chip
    color="tertiary"
    *ngIf="(actions$ |async)?.length === 0"
    class="ion-margin-top"
  >
    <ion-label color="tertiary">Aucune action à effectuer !</ion-label>
  </ion-chip>
  <ion-list>
    <ion-item *ngFor="let action of actions$ |  async">
      <ion-label class="ion-text-wrap">
        <h2 class="title">
          <ion-icon name="flash-outline" color="tertiary"></ion-icon>
          {{action.animal}}
          <ion-text color="medium"><small>({{action.espece}})</small></ion-text>
        </h2>
        <p>
          {{action.observations}} -
          <ion-text color="danger"
            >{{action.date | date:"dd/MM/YYYY"}}</ion-text
          >
        </p></ion-label
      >

      <ion-icon name="checkmark-circle-outline" class="done"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
