<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Actions à effectuer sur la zone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-chip
    color="tertiary"
    *ngIf="(actions$ |async)?.length === 0"
    class="ion-margin-top"
  >
    <ion-label color="tertiary">Aucune action à effectuer !</ion-label>
  </ion-chip>
  <ion-list>
    <ion-item *ngFor="let action of actions$ |  async">
      <ion-label class="ion-text-wrap">
        <h2 class="title">
          <ion-icon name="flash-outline" color="tertiary"></ion-icon>
          {{action.animal.nom | titlecase}}
          <ion-text color="medium"
            ><small>({{action.espece.nom}})</small></ion-text
          >
        </h2>
        <p>
          {{action.observations}} -
          <ion-text color="danger"
            >{{action.date | date:"dd/MM/yyyy"}}</ion-text
          >
        </p></ion-label
      >

      <ion-icon
        name="checkmark-circle-outline"
        class="done"
        (click)="doAction(action)"
      ></ion-icon>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="tertiary" id="open-modal" expand="block">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Modal -->
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Annuler</ion-button>
          </ion-buttons>
          <ion-title>Nouvelle action</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true"
              >Confirmer</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p id="new-action">
          <ion-text color="tertiary">Nouvelle action sur :</ion-text>
        </p>
        <ion-list>
          <ion-radio-group [value]="" (ionChange)="onPlaceChange($event)">
            <ion-item>
              <ion-label>Enclos</ion-label>
              <ion-radio slot="end" value="enclos"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Espèce</ion-label>
              <ion-radio slot="end" value="espece"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Animal</ion-label>
              <ion-radio slot="end" value="animal"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <ion-list>
          <ion-item *ngIf="place === 'enclos'">
            <ion-select
              placeholder="Selectionner un enclos"
              [(ngModel)]="enclosure"
              (ionChange)="onEnclosureChange($event)"
            >
              <ion-select-option
                *ngFor="let enclosure of enclosures$ |  async"
                [value]="enclosure"
                >{{enclosure.nomApp}}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item *ngIf="place === 'espece'">
            <ion-select
              placeholder="Selectionner une espèce"
              [(ngModel)]="enclosure"
              disabled
            >
              <ion-select-option
                *ngFor="let enclosure of enclosures$ |  async"
                value="{{enclosure.nom}}"
                >{{enclosure.nomApp}}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item *ngIf="place === 'animal'">
            <ion-select
              placeholder="Selectionner un animal"
              [(ngModel)]="enclosure"
              (ionChange)="onAnimalChange($event)"
            >
              <ion-select-option
                *ngFor="let animal of animals$ |  async"
                [value]="animal"
                >{{animal.nom}} ({{animal.espece}})</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-list>
        <div class="actions" *ngIf=" place === 'enclos'">
          <p>
            <strong><ion-text>Actions disponibles : </ion-text></strong>
          </p>
          <ion-list>
            <ion-radio-group value="">
              <ion-item>
                <ion-label>Vérifier</ion-label>
                <ion-radio
                  slot="end"
                  value="Vérifier"
                  [disabled]="isNotEnclosure"
                ></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </div>
        <div class="actions" *ngIf=" place === 'animal'">
          <p>
            <strong><ion-text>Actions disponibles : </ion-text></strong>
          </p>
          <ion-list>
            <ion-radio-group value="">
              <ion-item>
                <ion-label>Soigner</ion-label>
                <ion-radio
                  slot="end"
                  value="Soigner"
                  [disabled]="isNotAnimal"
                ></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Déplacer</ion-label>
                <ion-radio
                  slot="end"
                  value="Déplacer"
                  [disabled]="isNotAnimal"
                ></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
