<div class="row justify-content-center">
  <div class="col-12 col-sm-8 col-lg-6">
    <h2 class="mt-4 pt-5 mb-4">Mes animaux</h2>

    <select
      class="form-select mb-4"
      [(ngModel)]="species"
      aria-label="Sélection d'une espèce"
    >
      <option value="" selected>Tous les animaux</option>
      <option *ngFor="let specie of species$ | async" [value]="specie.nom">
        {{ specie.nomApp }}
      </option>
    </select>

    <table class="table" aria-describedby="Tableau des animaux">
      <thead>
        <tr class="table-light">
          <th scope="col">Nom</th>
          <th scope="col">Espèce</th>
          <th scope="col">Sexe</th>
          <th scope="col">Position</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let animal of animals$ | async | speciesFilter: species">
          <td class="fw-bold">{{ animal.nom }}</td>
          <td class="text-muted fw-light">{{ animal.espece | uppercase }}</td>
          <td>
            <span class="{{ animal.sexe | genderColor }}">{{
              animal.sexe | genderString
            }}</span>
          </td>
          <td>{{ animal.position }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
