<h2 class="mt-4">Mes animaux</h2>

<div class="row justify-content-center">
  <div class="col-4" *ngFor="let animal of animals$ | async">
    <div class="card mb-4">
      <h5 class="card-header text-center">{{ animal.nom }}</h5>
      <div class="card-body">
        <p class="card-text fw-bold">
          <small>{{ animal.espece | uppercase }}</small>
        </p>
        <p class="card-text">Sexe : {{ animal.sexe }}</p>
        <p class="card-text">Position : {{ animal.position }}</p>
      </div>
    </div>
  </div>
</div>
