<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Les animaux de la zone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let animal of animals$ |  async">
      <ion-label class="ion-text-wrap">
        <h2 class="title">
          <ion-icon name="paw-outline" color="tertiary"></ion-icon>
          {{animal.nom}}
          <ion-text color="medium"><small>({{animal.espece}})</small></ion-text>
        </h2>
        <p>
          Sexe : {{animal.sexe}} - Position : {{animal.position}}
        </p></ion-label
      >

      <ion-icon name="enter-outline" class="go"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
