<div class="container">
  <h2 *ngIf="authService.currentUser">
    Bonjour {{ authService.currentUser.prenom }} ! Sélectionnez votre zone de
    travail :
  </h2>
  <div class="row">
    <div class="col-6 col-lg-3 mt-4" *ngFor="let zone of zones$ | async">
      <div class="card">
        <img
          src="../assets/images/{{ zone.nom }}.jpg"
          class="card-img-top"
          alt="{{ zone.nom }}"
        />

        <div class="card-body">
          <h5 class="card-title">{{ zone.nomApp }}</h5>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="goToDetailsZone(zone)"
          >
            Voir cette zone
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
