<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Détails de l'animal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="animal">
  <ion-grid>
    <div id="header-animal" class="ion-padding ion-justify-content-center">
      <ion-row>
        <ion-col
          ><img
            src="../../assets/animals/{{animal.espece}}.jpg"
            alt="{{animal.nom}}"
        /></ion-col>
      </ion-row>
      <ion-row>
        <ion-col id="animal-name" class="title"
          ><ion-text color="light">{{animal.nom}}</ion-text></ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col
          ><ion-text color="light"
            >{{animal.espece | titlecase}}</ion-text
          ></ion-col
        >
      </ion-row>
    </div>
    <div id="content-animal">
      <ion-row
        ><ion-item>
          <ion-icon
            name="male-female-outline"
            color="tertiary"
            class="ion-margin"
          ></ion-icon>
          <ion-text><strong>Sexe :</strong> {{animal.sexe}}</ion-text>
        </ion-item></ion-row
      >
      <ion-row
        ><ion-item
          ><ion-icon
            name="calendar-number-outline"
            color="tertiary"
            class="ion-margin"
          ></ion-icon>
          <ion-text
            ><strong>Naissance :</strong> {{animal.naissance}}</ion-text
          ></ion-item
        ></ion-row
      >
      <ion-row
        ><ion-item
          ><ion-icon
            name="glasses-outline"
            color="tertiary"
            class="ion-margin"
          ></ion-icon>
          <ion-text
            ><strong>Observations : </strong>
            <span *ngIf="!animal.observations">RAS</span
            >{{animal.observations}}</ion-text
          ></ion-item
        ></ion-row
      >
      <ion-row
        ><ion-item
          ><ion-icon
            name="repeat-outline"
            color="tertiary"
            class="ion-margin"
          ></ion-icon>
          <ion-text
            ><strong>Position :</strong> {{animal.position}}</ion-text
          ></ion-item
        ></ion-row
      >
    </div>
    <div class="ion-margin">
      <ion-row>
        <ion-col>
          <ion-text class="ion-padding"
            ><strong>Action à effectuer sur l'animal :</strong></ion-text
          >
          <ion-list lines="none">
            <ion-chip
              color="tertiary"
              *ngIf="(actions$ |async)?.length === 0"
              class="ion-margin-top"
            >
              <ion-label color="tertiary"
                >Aucune action à effectuer sur l'animal !</ion-label
              >
            </ion-chip>
            <ion-card *ngFor="let action of actions$ |async" color="tertiary">
              <ion-card-content
                ><ion-icon name="flash-outline" color="light"></ion-icon>
                <ion-text
                  >{{action.observations}} - {{action.date |
                  date:"dd/MM/yyyy"}}</ion-text
                >
                <ion-icon
                  name="checkmark-circle-outline"
                  class="done"
                  (click)="doAction(action)"
                ></ion-icon
              ></ion-card-content>
            </ion-card>
          </ion-list>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
